<%= form_tag('/home/index', method: :get) do %>
  <div class="row pt-30">
    <div class="mt-0 col-lg-4 col-md-7 col-sm-12 col-xs-12" style="color: #D26C2D;font-size: 30px;">Weather in your city</div>

    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <input id="searchTextField" type="text" name="city" value="<%= params[:city] %>" size="50" placeholder="Enter a location" autocomplete="on" class="" style="width: 100%;margin-top: 5px;padding-left: 15px;">
    </div>
    <div class="col-lg-1 col-md-1 col-sm-6 col-xs-6 text-center">
      <button class="btn btn-sm" style="background-color: #D26C2D;margin-top: 5px;">Search </button>
    </div>
  </div>
  <br><br><br>
<% end %>

<% @weather_data && @weather_data.first(5).each do |report|  %>
  <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 table-border" style="margin-left: 20px;">
    <table class="table">
      <tbody>
        <tr class="text-center" style="background-color: #F26532;">
          <td colspan="2">Date:<%= Date.parse(report['dt_txt'].to_s).strftime('%d/%m/%Y') %></td>
        </tr>
        <tr class="text-center bg-gray">
          <td colspan="2">Temperature</td>
        </tr>
        <tr class="text-center bg-gray">
          <td>Min</td>
          <td>Max</td>
        </tr>
        <tr class="text-center bg-gray">
          <td><%= report['main']['temp_min'] %></td>
          <td><%= report['main']['temp_max'] %></td>
        </tr>
        <tr class="text-center">
          <td>Pressure</td>
          <td><%= report['main']['pressure'] %></td>
        </tr>
        <tr class="text-center">
          <td>Humidity</td>
          <td><%= report['main']['humidity'] %></td>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>
<%if @error%>
  <h5 class="error pt-30"><%=@error%> , Try with other city</h5>
<%end%>
